body,
html {
  width: 100%;
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.main{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(86, 199, 86);
  height: 110px;
}

.main .active {
  top: -200px;
}

.humburger {
  margin-right: 20px;
  cursor: pointer;
  display: none;
  color: black;
}

.nav{
  display: flex;
  justify-content: space-between;
  width: 500px;
}
.nav a{
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 25px;
}
.nav a:hover{
  text-decoration: underline ;
  transition: 1s ease-in-out;

}
.head{
  display: flex;
  align-items: center;
  gap: 30px;
}
.head .title{
  font-size: 30px;
}
.logo img{
  animation: rotate 2s infinite linear;
}

@keyframes rotate{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width:800px) {
  .humburger{
    display: flex;
    width: 300px;
    justify-content: flex-end;
  }
  .nav{
    position: absolute;
    right:0px;
    display: flex;
    flex-direction: column;
    width: 120px;
    padding: 20px;
    top: 110px;
    gap: 20px;
    background-color: rgb(86, 199, 86);;
    transition: 0.5s ease;
  }

}
@media (max-width:550px){
  .head .title{
    font-size: 20px;
  }
  
.head .logo img{
  height: 75px;
  width: 75px;
}
.head{
  margin-left: 50px;
}
}