.catcard {
    border-style:dotted;
    border-color:black;
    padding:80px;
    border-radius:20px;
    width:350px;
    margin:80px;
    background:rgb(182, 176, 183);
   
}
.catcard img  {
    width:350px;
    height:350px;
}
.catcard2{
    border-style:solid;
    background:rgb(238, 213, 216);
}
.catcard3{
    background:yellow;
}