body,
html {
    width: 100%;
    height: 100%;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.first{
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
    width: 100%;
    height: 50px;
    align-items: center;
    flex-wrap: wrap;
}
.first .middel ul{
    display: flex;
    gap: 9px;
}
.first .middel ul li{
    list-style: none;
}
.first .right button{
    background: transparent;
    padding:5px;
    width:100px;
    border:2px solid;
    /* padding-right: 20px; */
}
.first .right .btn-1{
    padding-right: 20px;
}
.first .right .btn-1:hover{
    cursor:cursor;
    background:aqua;
    color:black;
    border-color:black;
    transition: 0.8s ease-in-out;
}
.first .left h1{
    padding-left: 20px;
}
@media (max-width: 510px){

    .first{
        height:100px;
        flex-direction: column;
        justify-content: center;
        gap:8px;
    }
}