
.one{
    background:violet
    
    }
    
    #two{
        color: indigo;
    }
    .card , .card2{
        border-style:solid;
        border-color:blueviolet;
        border-width: 10px;
      border-radius:10px;
        width:400px;
    padding:100px;
    margin:100px;
    background:violet
    }
    .card img ,.card2 img{
        width:250px;
        height:250px;
    
    }
    .card button , .card2 button{ 
        background:pink;
        padding:10px;
        border-radius:10px;
       color:black;
    }
    .card2{
        background:plum;
        color:white;
    }